<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>City Grow</title>

    <link rel="shortcut icon" href="/static/favicon.ico">

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="/static/css/custom.css">
  </head>

  <body>
    {% block bodycontent %}
    {% endblock bodycontent %}
  </body>
</html>
